/* 側邊選單 */

.sidebar {
    margin-left: 50px; /* 與左邊的距離 */
    width: 250px;  /* 寬度 */
    /* background: linear-gradient(to bottom, #e9b9ff, #c776ed);   */
    /* border: 2px solid #d1a3ff;  邊框 */
    color: rgb(62, 51, 70);  
    top: 60;  /* 與上方的距離 */
    left: 0;  /* 與左邊的距離 */
    padding: 10px; /* 內容與邊框的距離 */
    /* box-shadow: 2px 0 5px rgba(0,0,0,0.2); */
    z-index: 1000;  /* 讓選單顯示在最上層 */
  }

  .sidebar h2 {
    padding: 20px;  /* 去掉上方的空間 */
    font-size: 30px;
    text-align: center;
    background-color: #d1a3ff;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  .sidebar h2:hover {
    scale: 1.05;
    border-top: 1px solid #000;
  }
  
  .sidebar ul {
    list-style: none;  /* 去掉項目符號 */
    padding: 0;  /* 去掉內容與邊框的距離 */
  }
  
  .sidebar ul li {
    padding: 20px 0;  /* 上下各留 20px 的空間 */
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    border-top: 1px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
    visibility: hidden;
  }
  
  .sidebar ul li a {
    color: rgb(62, 51, 70);   /* 字體顏色 */
    text-decoration: none;  /* 去掉下劃線 */
    font-weight: bold;  /* 讓文字加粗 */
    
  }
  
  .sidebar ul li:hover {
    cursor: pointer;  /* 鼠標懸停時加上下劃線 */
    scale: 1.05;
  }  

/* 深色模式 */

.dark-mode .sidebar {
    color: rgb(193, 204, 185);  
}

.dark-mode .sidebar h2 {
    background-color: #2c3e50;
    border-color: #fff;
}

.dark-mode .sidebar ul {
    border-color: #2c3e50;
}

.dark-mode .sidebar ul li {
    background-color: #2c3e50;
    border-color: #fff;
}

.dark-mode .sidebar ul li a {
    color: rgb(193, 204, 185);
}

.sidebar ul li.show {
  visibility: visible;
  transform: 0.3s ;
}

.sidebar ul.show {
  border-bottom: 1px solid #000;
}

.sidebar h2.show {
  border-bottom: 1px solid #000;
}