body {
    background-color: #bbbbbb;
}

.Topbar {
    border: 1px solid #333;
    box-shadow: 1px 8px 5px #444;
    /* padding: 8px 12px; */
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    display: flex;
  }

.Button {
    border: 2px solid #00b;
    padding: 8px 12px;
    margin: 1px;
    font-size: 24px;
    color: #00b;
    background-color: #ddd;
    line-height: 1;
 }

.Button:hover {
    background-color: #ffffff;
  }
  
.Button:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
 }

.Sidebar {
    width: 20%;
    background-color: #f0f0ff;
    color: #000000;
    border: 1px solid #444;
    padding: 8px 12px;
    /* text-align: center; */
}

.DataContent {
    /* width: 60%; */
    height: 100px;
    display: flex;
    padding: 12px 8px;
    
}

.Data {
    padding: 8px 12px;
    display: flex;
}

.Image {
    width: 100px;
    height: 100px;
    margin: 5px;
}