body {
    font-family: 微軟正黑體;
    padding-top: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
        url('../images/background_53876-115151.jpg');
    background-repeat: repeat;
    background-size: cover;
}
h1 {
    color: black;
}
.content {
    margin-top: 20px;
}

a {
    color: #8e8e8e;  /* 設定名字的顏色 */
    text-decoration: none;  /* 去掉下劃線 */
    font-weight: bold;  /* 讓文字加粗 */
}

a:hover {
    color: #515151;  /* 當鼠標懸停時，文字顏色變暗 */
    text-decoration: underline;  /* 鼠標懸停時加上下劃線 */
}